.container{
    background-color: bisque;
    width: 50%;
    margin-left: 25%;
    text-align: start;
   
    border-radius: 5%;

}
.input_section1{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    
}
.container h1{
 text-align: center;
}
.input_section2{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 10%;
    
}
.address{
    margin-left: 5%;
    margin-right: 5%;

}
.input_section3{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.input_section4{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input:focus{
    outline-color: red;
}
textarea:focus{
    outline-color: red;
}
.button_container{
    display: flex;
    justify-content: right;
   
}
button{
    margin-top: 20px;
    margin-right: 20px;
    border: transparent solid 2px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #fffafa;
    background-color:red;
}
button:hover{
    background-color: #ccc;
    border:2px solid red;
    color:black;
    cursor: pointer;
  

}


textarea{
    width: 100%;
}
#Uploadfile{
    width: 100
}
#Date{
    width: 128%;
}


